<div>
    <!--
        ng-repeat likes to see unique objects inside the collection. If we just have
        an array where everything is empty, Angular will going to complain.
        We will just tell Angular to track changes by $index instead of actually looking into
        the values inside the array.
    -->
    <span ng-repeat="entry in model.entries track by $index">
        <!--
            We are setting the default template as * if the outer template is not specified
            in the caller. For example, in movie-list.component.html, we are specifying

            <movie-rating value="movie.rating">
                <span class="glyphicon glyphicon-star"></span>
            </movie-rating>
        -->
        <ng-transclude>
            *
        </ng-transclude>
    </span>
</div>